<footer class="layout-footer footer_wrap outer">
  <div class="footer-row-1">
    <div class="fg-col">
      <nav role="navigation" aria-labelledby="block-footer-menu" id="block-footer" class="contextual-region">
        <div class="footer-menu-container">
          <div class="fg-col">
            <img src="//puppet.com/themes/hoverboard/images/puppet-logo/puppet-logo-white-sm.png" class="puppet-logo">
          </div>
          <div class="fg-col category-col" data-category="Overview">
            <div class="col-title">Overview</div>
            <ul>
              <li><a href="//puppet.com/solutions">Solutions</a></li>
              <li><a href="//puppet.com/company">Company</a></li>
              <li><a href="//puppet.com/product/open-source-projects">Open source projects</a></li>
              <li><a href="//puppet.com/security">Security</a></li>
            </ul>
          </div>
          <div class="fg-col category-col" data-category="Resources">
            <div class="col-title">Resources</div>
            <ul>
              <li><a href="//puppet.com/resources">Resource library</a></li>
              <li><a href="//puppet.com/support-services/professional-services">Services</a></li>
              <li><a href="//puppet.com/partners/partner-finder">Find a partner</a></li>
              <li><a href="//puppet.com/support-services/training">Training</a></li>
              <li><a href="//puppet.com/sitemap">Sitemap</a></li>
            </ul>
          </div>
          <div class="fg-col category-col" data-category="Connect">
            <div class="col-title">Connect</div>
            <ul>
              <li><a href="//puppet.com/company/contact">Contact us</a></li>
              <li><a href="//puppet.com/community/events">Events</a></li>
              <li><a href="//puppet.com/blog">Blog</a></li>
              <li><a href="//puppet.com/company/careers">Careers</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="fg-col category-col">
      <div class="col-title">Join our mailing list</div>
      <p>Get our monthly newsletter and the occasional email we think you'll like.</p>
      <script type="text/javascript" src="//puppet.com/sites/default/files/mktFormSupport.js"></script><form class="lpeRegForm formNotEmpty" method="post" enctype="application/x-www-form-urlencoded" action="https://app-sjh.marketo.com/index.php/leadCapture/save" id="mktForm_1047" name="mktForm_1047">
        <div class="newsletter-row email-wrapper">
          <input name="Email" id="Email" type="email" placeholder="Enter your email" class="mktFormText mktFormEmail mktFReq" maxlength="255" tabindex="1" value="">
          <img src="//puppet.com/themes/hoverboard/images/puppet-icons/small-arrow-gray.svg" class="form-submit-icon" id="form-submit-icon" title="Join">
        </div>
        <input class="mktFormHidden" name="Form_Name__c" id="Form_Name__c" type="hidden" value="Newsletter">
        <input class="mktFormHidden" name="Current_Form_Name__c" id="Current_Form_Name__c" type="hidden" value="Newsletter">
        <input class="mktFormHidden" name="Original_Campaign_ID__c" id="Original_Campaign_ID__c" type="hidden" value="701G0000000F68K">
        <input class="mktFormHidden" name="campaign_ID__c" id="campaign_ID__c" type="hidden" value="701G0000000F68K">
        <input class="mktFormHidden" name="Current_Lead_Source__c" id="Current_Lead_Source__c" type="hidden" value="Organic">
        <input class="mktFormHidden" name="LeadSource" id="LeadSource" type="hidden" value="Organic">
        <input class="mktFormHidden" name="LeadSourceDescription__c" id="LeadSourceDescription__c" type="hidden" value="Search">
        <input class="mktFormHidden" name="CurrentLeadSourceDescription__c" id="CurrentLeadSourceDescription__c" type="hidden" value="Search">
        <input class="mktFormHidden" name="Custom_Campaign__c" id="Custom_Campaign__c" type="hidden" value="null">
        <input class="mktFormHidden" name="Current_Custom_Campaign__c" id="Current_Custom_Campaign__c" type="hidden" value="null">
        <input class="mktFormHidden" name="honeypot" id="honeypot" type="hidden" value="null">
        <input id="mktFrmSubmit" style="display:none;" type="submit" value="" name="submitButton">
        <span style="display:none;"><input type="text" name="_marketo_comments" value=""></span>
        <input type="hidden" name="lpId" value="-1">
        <input type="hidden" name="subId" value="100">
        <input type="hidden" name="munchkinId" value="307-QLA-991">
        <input type="hidden" name="kw" value="">
        <input type="hidden" name="cr" value="">
        <input type="hidden" name="searchstr" value="">
        <input type="hidden" name="lpurl" value="http://info.puppetlabs.com/newslettersubscribe.html?cr={creative}&amp;kw={keyword}">
        <input type="hidden" name="formid" value="1047">
        <input type="hidden" name="returnURL" value="http://www.puppet.com">
        <input type="hidden" name="retURL" value="http://www.puppet.com/misc/subscription-thank-you">
        <input type="hidden" name="returnLPId" value="-1">
        <input type="hidden" name="_mkt_disp" value="return">
        <input type="hidden" name="_mkt_trk" value="">
        <script type="text/javascript">
          /* why? */
          document.getElementById('Email').addEventListener('keypress', function(event) {
            if (event.keyCode == 13) {
                document.getElementById('mktForm_1047').submit();
            }
          });
          document.getElementById('form-submit-icon').addEventListener('click', function() {
            document.getElementById('mktForm_1047').submit();
          });
        </script>
      </form>
      <div class="newsletter-row">
        <a href="//twitter.com/puppetize" class="social-icon">
          <img src="//puppet.com/themes/hoverboard/images/social-icons/twitter-box-white.svg" alt="Twitter"></a>
        <a href="//www.linkedin.com/company/puppet" class="social-icon">
          <img class="social-icon" src="//puppet.com/themes/hoverboard/images/social-icons/linkedin-box-white.svg" alt="Linkedin"></a>
        <a href="//www.facebook.com/PuppetSoftware" class="social-icon">
          <img class="social-icon" src="//puppet.com/themes/hoverboard/images/social-icons/facebook-box-white.svg" alt="Facebook"></a>
        <a href="//www.youtube.com/c/Puppet-Inc" class="social-icon">
          <img class="social-icon" src="//puppet.com/themes/hoverboard/images/social-icons/youtube-white.svg" alt="Youtube"></a>
      </div>
    </div>
  </div>
  <div class="footer-row-2">
    <div class="footer-row-2-wrapper">
      <div class="footer-row-2-col-1">
        <a href="//puppet.com/legal">Legal</a>
        /
        <a href="//puppet.com/legal/privacy">Privacy policy</a>
        /
        <a href="//puppet.com/legal/terms">Terms of use</a>
      </div>
    <div class="footer-row-2-col-2">
      <a href="//puppet.com/">© 2019 Puppet</a>
    </div>
  </div>
</footer>
