<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <!-- HEADER -->
    {% include header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <div class="breadcrumbs">
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/profiles.html">Profiles</a></li>
            <li>{{ page.name }}</li>
          </ol>
        </div>
        <article class="profile">
          <div class="content">
            <img class="avatar" src="{{ page.image }}" />
            <h1 class="name">{{ page.name }}</h1>
            <p class="bio">{{ page.bio }}</p>
            <hr />
            {{ content }}
          </div>
        </article>
        <div style="clear:both;"></div>
      </section>
    </div>

    <!-- FOOTER  -->
    {% include footer.html %}
  </body>
</html>



